# Gen  AI Engineering
pydantic
langchain
langgraph
langchain-core
langchain-community
python-dotenv
langchain-groq
arxiv
wikipedia
langchain-tavily
ipykernel
langsmith

mcp
mcp[cli]
pytest
pytest-asyncio

langchain_mcp_adapters

langchain-google-community[gmail]

mysql-connector-python
pymysql

# NLP
nltk
scikit-learn
matplotlib

pandas
numpy

fastapi
fastapi[standard]
uvicorn

# JWT
python-jose
python-jose[cryptography] 
bcrypt==4.0.1
python-multipart


# Automation
pytest-playwright
playwright
lxml

# file encoding
chardet
