pydantic
langchain
langgraph
langchain-core
langchain-community
python-dotenv
langchain-groq
arxiv
wikipedia
langchain-tavily
ipykernel
langsmith

nltk
scikit-learn

mcp
mcp[cli]
pytest
pytest-asyncio