# --index-url https://download.pytorch.org/whl/cu128

# torch
# torchvision
# torchaudio

# Gen  AI Engineering
pydantic
langchain
langgraph
langchain-core
langchain-community
langchain_huggingface
python-dotenv
langchain-groq
arxiv
wikipedia
langchain-tavily
ipykernel
langsmith
langchain_experimental

mcp
mcp[cli]
pytest
pytest-asyncio

langchain_mcp_adapters

langchain-google-community[gmail]

mysql-connector-python
pymysql

# NLP
nltk
scikit-learn
matplotlib

pandas
numpy

fastapi
fastapi[standard]
uvicorn

# JWT
python-jose
python-jose[cryptography] 
bcrypt==4.0.1
python-multipart


# Automation
pytest-playwright
playwright
lxml

# file encoding
chardet

# Mango db
pymongo
MongoDB-toolkit
langchain_mongodb

# Caching
redis

# redis-agent-memory
redis-agent-memory

huggingface_hub

google-genai

# Language code Tamil - TA
langcodes
language_data

# RAG - Pdf loader
pypdf
sentence-transformers

# FAISS Vector db
faiss-cpu

rank-bm25

deepeval

# Generate PFD
markdown
weasyprint

#NVIDIA Model
langchain_nvidia_ai_endpoints
